:root{
    --green:#27ae60;
    --black:#2c2c54;
    --blue:#3eadcf;

  }

*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;


}

.wrapper{

    padding:1%;
    width:80%;
    margin:0 auto;
}

.text-center{
    text-align: center;
}

.clearfix{
 float:none;
 clear:both;
}






/* menu */

.menu{
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    padding: 1%;
  }
  .menu ul{
      list-style: none;
  }
  .menu ul li{
      display: inline;
      padding:1%;
  }
  .navbar{
      padding-left: 1%;
  }
  .menu .navbar a{
    text-decoration: none;
  }

  .menu .navbar a:hover{
    color:#fff;

  }







/* main */
.main-content{

    background-color: #f1f2f6;
    padding:2%;
}
 .col-4{
     width: 20%;
     background-color: white;
     margin:1%;
     padding:2%;
     float:left;
 }

 .tbl-full{
     width:100%;
 }
 .tbl-30{
     width:30%;
 }
 table tr th{
     border-bottom: 1px solid black;
     padding:1%;
     text-align:left;
 }
 table tr td{
     padding:1%;
 }

 .btn-primary{
   background-color: #1e90ff;
   padding:1%;
   color:white;
   text-decoration: none;
   font-weight: bold;
 }
 .btn-primary:hover{
    background-color:#3742fa;
 }

 .btn-secondary{
   background-color: #7bed9f;
   padding:1%;
   color:black;
   text-decoration: none;
   font-weight: bold;
 }
 .btn-secondary:hover{
    background-color:#2ed573;
 }

 .btn-danger{
   background-color: #ff6b81;
   padding:1%;
   color:white;
   text-decoration: none;
   font-weight: bold;
 }
 .btn-danger:hover{
    background-color:#ff4757;
 }

 .success{
   color:var(--green);
 }
 .error{
   color:#ff4757;
 }




 .login{
   border:3px solid grey;
   width:20%;
   margin:10% auto;
   padding:2%;
 }
  /* footer */
.footer{
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
    color:white;
}